<div class="multicolumn-images-with-hover section-{{ section.id }} container-fluid bg-{{ section.settings.bg_color }} my-{{ section.settings.margin }} gx-0">
    <div class="container{% if section.settings.fullwidth %}-fluid gx-0{% else %} px-4 px-lg-0 gx-0{%endif%}">
    <div class="row justify-content-{{ section.settings.alignment }} px-3">
    <div class="col-11 col-lg-6 text-{{ section.settings.alignment }}">
    {% if section.settings.heading != blank %}
    <h2 class="mb-4 {{ section.settings.heading_size }} text-{{ section.settings.text_color }}">{{ section.settings.heading }}</h2>
    {% endif %}
    {% if section.settings.text != blank %}
    <div class="mb-4 text-{{ section.settings.text_color }}">{{ section.settings.text }}</div>
    {% endif %}
    {% if section.settings.btn_text != blank %}
    {% if section.settings.btn_count == "2" %}
    <div class="row gx-0 mt-4">
    <div class="col-12 col-lg-6 mt-3 my-lg-0 text-center text-lg-end mb-3 mb-lg-0">
    <a class="btn btn-{{ section.settings.btn_color }} btn-lg mx-2" href="{{ section.settings.btn_link }}" role="button">{{ section.settings.btn_text }}</a>
    </div>
    <div class="col-12 col-lg-6 text-center text-lg-start">
    <a class="btn btn-{{ section.settings.btn_color2 }} btn-lg mx-2" href="{{ section.settings.btn_link_2 }}" role="button">{{ section.settings.btn_text_2 }}</a>
    </div>
    </div>
    {% else %}
    <a class="btn btn-{{ section.settings.btn_color }} btn-lg mx-2" href="{{ section.settings.btn_link }}" role="button">{{ section.settings.btn_text }}</a>
    {% endif %}
    {% endif %}
    </div>
    </div>
    <div class="row g-{{ section.settings.card_spacing }} mt-5 justify-content-center text-start text-{{ section.settings.card_text_color }} overlay-{{ section.settings.overlay }}">
        {% for block in section['block_order'] %}
        <div class="col-{{ section.settings.mobile_grid }} col-lg-{{ section.settings.grid }}">
            {% block %}
        </div>
        {% endfor %}
    </div>
    </div>
</div>

{% styles %}
.section-{{ section.id }} {
    padding: {{ section.settings.padding }} 0;
}

.section-{{ section.id }} .mc-image_img {
    padding-bottom: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: none;
    transition: .5s ease;
}

.section-{{ section.id }} .mc-image_img:hover {
    box-shadow: 0 12px 24px 0 rgb(0 0 0 / 30%);
}

.section-{{ section.id }} .mc-image .mc-image_overlay {
    background-color: transparent;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    padding-bottom: 100%;
    width: 100%;
    transition: .8s ease;
}

/* .section-{{ section.id }} .mc-image:hover .mc-image_overlay {
    background-color: {{ section.settings.overlay }}99;
}
*/
.section-{{ section.id }} .mc-image .mc-image_text {
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: 1.5s ease;
}

.section-{{ section.id }} .mc-image:hover .mc-image_text {
    height: 100%;
}

.section-{{ section.id }} .mc-image .mc-image_alt:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 0;
    height: 3px;
    transition:all 1s ease;
    background-color: {{ accent1_color }};
    transform: translate(-50%, -50%);
}

.section-{{ section.id }} .mc-image:hover .mc-image_alt:after {
    width: 50%;
}

.section-{{ section.id }} .mc-image .mc-image_btn .btn-link {
    font-weight: 400;
    text-transform: uppercase;
    text-decoration-color: transparent;
}

{% endstyles %}

{% schema %}
{
"name": "Multicolumn Images with Hover",
"description": "Section for showing multiple images with hover effect.",
"max_blocks": 99,
"settings": [
{
"type": "checkbox",
"id": "fullwidth",
"label": "Full Width"
},
{
"type": "select",
"id": "margin",
"label": "Section Margin",
"default": "0",
"options": [
{
"label": "None",
"value": "0"
},
{
"label": "Small",
"value": "1"
},
{
"label": "Medium",
"value": "3"
},
{
"label": "Large",
"value": "5"
}]
},
{
"type": "select",
"id": "padding",
"label": "Section Padding",
"default": "80px",
"options": [
{
"label": "None",
"value": "0"
},
{
"label": "Small",
"value": "40px"
},
{
"label": "Medium",
"value": "80px"
},
{
"label": "Large",
"value": "120px"
}]
},
{
"type": "select",
"id": "grid",
"label": "Images Per Row",
"default": "4",
"options": [
{
"label": "2",
"value": "6"
},
{
"label": "3",
"value": "4"
},
{
"label": "4",
"value": "3"
}]
},
{
"type": "select",
"id": "mobile_grid",
"default": "6",
"label": "Images Per Row (Mobile)",
"options": [
{
"label": "1",
"value": "12"
},
{
"label": "2",
"value": "6"
}]
},
{
"type": "select",
"id": "bg_color",
"label": "Background Color",
"default": "background3",
"options": [
{
"label": "Background 1",
"value": "background1"
},
{
"label": "Background 2",
"value": "background2"
},
{
"label": "Background 3",
"value": "background3"
},
{
"label": "Accent 1",
"value": "accent1"
},
{
"label": "Accent 2",
"value": "accent2"
}
]
},
{
"type": "select",
"id": "alignment",
"label": "Text Alignment",
"default": "center",
"options": [
{
"label": "Left",
"value": "start"
},
{
"label": "Center",
"value": "center"
},
{
"label": "Right",
"value": "end"
}]
},
{
"type": "select",
"id": "text_color",
"label": "Text Color",
"default": "default",
"options": [
{
"label": "Default",
"value": "default"
},
{
"label": "Inverse",
"value": "inverse"
}
]
},
{
"type": "text",
"id": "heading",
"label": "Heading",
"default": "Lorem Ipsum"
},
{
"type": "select",
"id": "heading_size",
"label": "Heading Size",
"default": "h2",
"options": [
{
"label": "H1",
"value": "h1"
},
{
"label": "H2",
"value": "h2"
},
{
"label": "H3",
"value": "h3"
}
]
},
{
"type": "richtext",
"id": "text",
"label": "Text",
"default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
},
{
"type": "select",
"id": "btn_count",
"label": "Button Count",
"default": "2",
"options": [
{
"label": "1",
"value": "1"
},
{
"label": "2",
"value": "2"
}]
},
{
"type": "url",
"id": "btn_link",
"label": "Button Link",
"default": "#"
},
{
"type": "text",
"id": "btn_text",
"label": "Button Text",
"default": "Button 1"
},
{
"type": "select",
"id": "btn_color",
"default": "outline",
"label": "Button 1 Type",
"options": [
{
"label": "Solid",
"value": "solid"
},
{
"label": "Outline",
"value": "outline"
},
{
"label": "Inverse Outline",
"value": "inverse-outline"
},
{
"label": "Default Text",
"value": "default-text"
},
{
"label": "Inverse Text",
"value": "inverse-text"
}]
},
{
"type": "url",
"id": "btn_link_2",
"label": "Button Link 2",
"default": "#"
},
{
"type": "text",
"id": "btn_text_2",
"label": "Button Text 2",
"default": "Button 2"
},
{
"type": "select",
"id": "btn_color2",
"default": "solid",
"label": "Button 2 Type",
"options": [
{
"label": "Solid",
"value": "solid"
},
{
"label": "Outline",
"value": "outline"
},
{
"label": "Inverse Outline",
"value": "inverse-outline"
},
{
"label": "Default Text",
"value": "default-text"
},
{
"label": "Inverse Text",
"value": "inverse-text"
}]
},
{
"type": "header",
"content": "Card Settings"
},
{
"type": "select",
"id": "card_spacing",
"label": "Card Spacing",
"default": "0",
"options": [
{
"label": "None",
"value": "0"
},
{
"label": "Small",
"value": "1"
},
{
"label": "Medium",
"value": "3"
},
{
"label": "Large",
"value": "5"
}]
},
{
"type": "select",
"id": "overlay",
"label": "Image Overlay Color",
"default": "accent1",
"options": [
{
"label": "Black",
"value": "black"
},
{
"label": "Background 1",
"value": "background1"
},
{
"label": "Background 2",
"value": "background2"
},
{
"label": "Background 3",
"value": "background3"
},
{
"label": "Accent 1",
"value": "accent1"
},
{
"label": "Accent 2",
"value": "accent2"
}
]
},
{
"type": "select",
"id": "card_text_color",
"label": "Card Text Color",
"default": "inverse",
"options": [
{
"label": "Default",
"value": "default"
},
{
"label": "Inverse",
"value": "inverse"
}
]
}
],
"blocks": [
{
"type": "mc-image"
}
]
}
{% endschema %}